In [1]:
#1. Write a function that takes two numbers and returns their sum.
def add(a,b):
    return a+b

In [2]:
add(3,4)

7

In [3]:
#2. Write a function that takes a string and returns it reversed.
str=("sekhar","datascience")

In [4]:
def rev(str):
    return str[::-1]

In [5]:
rev(str)

('datascience', 'sekhar')

In [6]:
def rev():
    text="sekhar"
    return text[::-1]

In [7]:
rev()

'rahkes'

In [10]:
#3. Write a function that checks if a number is even or odd.
def even(a):
    if a%2==0:
         return"this is even num"
    else:
        return "this is odd num"

In [11]:
even(10)

'this is even num'

In [12]:
even(7)

'this is odd num'

In [13]:
#4. Write a function that returns the factorial of a number.
def fact(n):
    f=1
    for i in range(1,n+1):
        f = f * i
    return f

In [14]:
fact(4)

24

In [15]:
#5. Write a function that takes a list and returns the maximum element.
def test():
    l=[1,2,3,4,5,6,7]
    return max(l)

In [16]:
test()

7

In [17]:
#6. Print numbers from 1 to 10 using a for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
#7. Print each character in a string using a for loop.
str = "sekhar"
for i in str:
    print(i)

s
e
k
h
a
r

In [21]:
#8. Write a program that sums all numbers in a list using a for loop.
l=[1,2,3,4,5,6]
n=0
for i in l:
    n=n+i
print(n)

21

In [22]:
#9. Print the multiplication table of a given number using a for loop.
n=5
for i in range(1,11):
    print(n,'x',i,'=',n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [23]:
#10. Write a program that prints all even numbers from 1 to 50.
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [24]:
#11. Print numbers from 1 to 10 using a while loop.
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [25]:
#12. Keep taking input from the user until they type "exit".
while True:
    user_input = input("Enter something (type 'exit' to stop): ")
    if user_input == "exit":
        print("exit")
        break

Enter something (type 'exit' to stop):  exit

exit

In [26]:
#13. Write a program that finds the sum of digits of a number using a while loop.

n=777
sum=0
while n>0:
    digit=n%10
    sum=sum+digit
    n=n//10
print("sum of digit:",sum)

sum of digit: 21

In [27]:
#14. Guess the number game: Keep asking the user until they guess the correct number.
number = 5  
guess = 0   # 

while guess != number:
    guess = int(input("Guess the number: "))

print("You guessed it right!")

Guess the number:  5

You guessed it right!

In [28]:
#15. Print the Fibonacci sequence up to n terms using a while loop.
n = 5
a = 0
b = 1
next = b  
count = 1

while count <= n:
    print(next, end=" ")
    count += 1
    a, b = b, next
    next = a + b
print()

1 2 3 5 8

In [1]:
#16. Write a function that takes variable number of arguments using *m and returns their sum.
def test(*m):
    return sum(m)

In [2]:
test(1,2,3,5,6)

17

In [3]:
#17. Write a program that unpacks a list into separate variables using *.

nums = [1, 2, 3, 4, 5]
a, *b = nums 
print("a:", a)
print("b:", b)

a: 1
b: [2, 3, 4, 5]

In [6]:
#18.Create a function that multiplies a number with itself n times using * (e.g., 2 * 3 = 6).

def mul(a,b):
    return a*b

In [8]:
mul(2,3)

6

In [9]:
def mul(n, times):
    result = 1
    for _ in range(times):
        result = result * n
    return result

In [10]:
mul(2,3)

8

In [11]:
#19 Use * to combine two lists into one:

a = [1, 2]
b = [3, 4]
combined = [*a, *b]
print(combined)

[1, 2, 3, 4]

In [12]:
#20. Write a function that checks whether a string is a palindrome

def palin(word):
    if word == word[::-1]:
        return "the word is palindrome"
    else:
        return "not palindrome"
print(palin("madam"))

the word is palindrome

In [13]:
#21 Write a function that returns the number of vowels in a given string.
def vow(text):
    vowels = "aeiou"
    count = 0
    for char in text.lower():
        if char in vowels:
            count += 1
    return count
print(vow("sekhar"))

2

In [14]:
#22 Write a function that takes a list of numbers and returns only the even numbers.
l=[1,2,3,4,5,6,7,8]
def even(lst):
    l1=[]
    for i in l:
        if i%2==0:
            l1.append(i)
    return l1

In [15]:
even(l)

[2, 4, 6, 8]

In [17]:
#23 Write a function that converts Celsius to Fahrenheit.

def wor(text):
    words=text.split()
    return len(words)

In [18]:
wor("sekhar is datascientist")

3

In [19]:
#24 Write a function that uses *args and prints all values line by line with their index.
def test(*args):
    i=0
    for items in args:
        print(i ,":" ,items)
        i=i+1

In [20]:
test(1,2,3,4,5,["sekhar"])

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : ['sekhar']

In [21]:
#25 Write a function that takes *args and returns their average.
def test2(*avrgs):
    return sum(avrgs)/len(avrgs)

In [22]:
test2(1,2,3,4,5,6)

3.5

In [24]:
#26 Keep asking the user to enter a positive number. Stop when they enter a negative number.
while True:
    num = int(input("Enter a positive number: "))
    if num < 0:
        print("Negative number entered. Stopping...")
        break

Enter a positive number:  -2

Negative number entered. Stopping...

In [25]:
#27 Write a program to reverse a number using a while loop.
num = int(input("Enter a number: "))
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10

print("Reversed number:", rev)

Enter a number:  1234456778

Reversed number: 8776544321

In [26]:
#28 Find the first number divisible by both 3 and 5 greater than 100 using while.
n = 101

while True:
    if n % 3 == 0 and n % 5 == 0:
        print(" ", n)
        break
    n = n + 1

  105

In [27]:
#30 Create a countdown timer using while, e.g., from 10 to 1.
count = 10
while count > 0:
    print(count)
    count -= 1
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [28]:
#31 Print all elements in a nested list.


nested = [[1, 2], [3, 4], [5]]
for sub in nested:
    for item in sub:
        print(item)

1
2
3
4
5

In [29]:
#32 Count how many times each character appears in a string.

s = "hello"
counts = {}
for char in s:
    counts[char] = counts.get(char, 0) + 1
print(counts)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}