In [1]:
#1. Convert a list of strings to uppercase

#words = ['python', 'is', 'awesome']
#Output: ['PYTHON', 'IS', 'AWES
words = ['python', 'is', 'awesome']
uppercase=list(map(str.upper,words))

In [2]:
uppercase

['PYTHON', 'IS', 'AWESOME']

In [3]:
#2. Square all numbers in a list

#numbers = [1, 2, 3, 4]
#utput: [1, 4, 9, 16]
numbers = [1, 2, 3, 4]
square=list(map(lambda x:x**2,numbers))

In [4]:
square

[1, 4, 9, 16]

In [5]:
#3. Convert a list of integers to strings

#nums = [1, 2, 3]
#Output: ['1', '2', '3']
nums = [1, 2, 3]
string = list(map(str, nums))

In [6]:
string

['1', '2', '3']

In [7]:
#4. Add 5 to each element in a list
#marks = [50, 60, 70]
#Output: [55, 65, 75]
marks=[50,60,70]
add=list(map(lambda x: x+5,marks))

In [8]:
add

[55, 65, 75]

In [9]:
#5. Get lengths of all strings in a list names = ['apple', 'banana', 'kiwi'] Output: [5, 6, 4]
names = ['apple', 'banana', 'kiwi']
fruits=list(map(len,names))

In [10]:
fruits

[5, 6, 4]

In [11]:
#1 Filter out even numbers nums = [1, 2, 3, 4, 5, 6] Output: [2, 4, 6]
nums = [1, 2, 3, 4, 5, 6] 
even=list(filter(lambda x:x%2==0,nums))

In [12]:
even

[2, 4, 6]

In [13]:
#2 Keep only strings with more than 3 characters words = ['hi', 'hello', 'hey', 'sun'] Output: ['hello']
words = ['hi', 'hello', 'hey', 'sun']
greet=list(filter(lambda x: len(x) > 3,words))

In [14]:
greet

['hello']

In [15]:
#3 Remove empty strings from a list data = ['Python', '', 'Java', '', 'C++'] Output: ['Python', 'Java', 'C++']
data = ['Python', '', 'Java', '', 'C++']
empty=list(filter(None,data))

In [16]:
empty

['Python', 'Java', 'C++']

In [17]:
#4 Get names that start with 'A' names = ['Alice', 'Bob', 'Angela', 'Tom'] Output: ['Alice', 'Angela']
names = ['Alice', 'Bob', 'Angela', 'Tom']
start=list(filter(lambda x:x.startswith('A'),names))

In [18]:
start

['Alice', 'Angela']

In [19]:
#5 Keep truthy values only items = [0, None, 'hello', False, 42, ''] Output: ['hello', 42]
items = [0, None, 'hello', False, 42, '']
truthy=list(filter(None,items))

In [20]:
truthy

['hello', 42]

In [21]:
#1 Sum of all numbers nums = [1, 2, 3, 4] Output: 10
from functools import reduce
nums = [1, 2, 3, 4]
sum= reduce(lambda x, y: x + y, nums)

In [22]:
sum

10

In [23]:
#2 Product of all even numbers nums = [1, 2, 3, 4, 5] Filter even → [2, 4] Reduce → 8
nums = [1, 2, 3, 4, 5]
even=list(filter(lambda x: x%2==0,nums))
product = reduce(lambda x, y: x * y,even)

In [24]:
product

8

In [25]:
#3 Find the longest word words = ['apple', 'banana', 'kiwi'] Output: 'banana'
words = ['apple', 'banana', 'kiwi']
longest = reduce(lambda x, y: x if len(x) > len(y) else y, words)

In [26]:
longest

'banana'

In [27]:
#4 Join list of strings into one sentence words = ['Python', 'is', 'fun'] Output: 'Python is fun'
words = ['Python', 'is', 'fun']
sentence=reduce(lambda x,y:x +" "+y,words)

In [28]:
sentence

'Python is fun'

In [29]:
#5 Create number from digits digits = [1, 2, 3, 4] Output: 1234
digits = [1, 2, 3, 4]
number = reduce(lambda x, y: x * 10 + y, digits)

In [30]:
number

1234